#Error{
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-align: center;
	text-shadow: rgba(255,255,255,0.5) 2px 2px 5px;
}
#info_usuario{
	margin: 0;
	padding: 0;
	text-align: center;
}
#info_usuario li{
	background: #0969A2;
	border-radius: 0.5em;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	height: 2.5em;
	padding: 0.5em 1em;
	margin: 0 0.5em 0 0;
	max-height: 4em;
	transition: all 0.2s ease;
	vertical-align: top;
	width: 6em;
}
#info_usuario li a{
	padding: 0;
	text-align: center;
	text-decoration: none;
	transition: all 0.2s ease;
	vertical-align: top;
	width: 100%;
}
#info_usuario li:hover, #info_usuario li a:hover{
	background: #034369;
	color: #FFF;
	cursor: pointer;
	transform: scale(1.05);
}
#info_usuario p{
	margin: 0;
	padding: 0;
	text-align: center;
}
#info_usuario ul{
	list-style: none;
	padding: 0;
}
#loginForm{
	text-align: right;
}
#loginForm a{
	color: #FFF;
	display: inline-block;
	font-size: 0.8em;
	font-weight: bold;
	padding: 0.5em;
}
#loginForm input[type="submit"]{
	background: #0969A2;
	border-radius: 0.4em;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	padding: 0.3em 0.6em;
	transition: all 0.2s ease;
}
#loginForm input[type="submit"]:hover{
	background: #034369;
	color: #FFF;
	cursor: pointer;
	transform: scale(1.05);
}
#loginForm input[type="text"], #loginForm input[type="password"]{
	margin: 2% 0;
	width: 60%;
}

