a:visited{
	color: #FFF;
}
body{
	background: url('../imagenes_html/newAvatar.jpg'), #034369;
	background-position: 30% 2%, 0;
	background-repeat: no-repeat;
	background-size: 90px, 100% 100%;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	text-align: center;
	margin: 0;
	padding: 0;
}
header{
	background: transparent;
	border-bottom: solid 5px #64A8D1;
	margin: 0;
	padding: 1em 0;
	width: 100%;
}
header h1{
	margin: 0.3em 0;
}
footer{
	background: #00B258;
	box-shadow: #64A8D1 -3px -3px 10px;
	display: block;
	margin: 0;
	padding: 0.5em;
	width: 99%;
}
nav{
	background: #23597A;
	border-bottom: solid 3px #64A8D1;
	padding: 0;
	margin: 0;
	text-align: left;
	width: 100%;
}
nav ul{
	padding: 0;
	margin: 0;
}
nav ul li{
	background: #2F3584;
	cursor: pointer;
	display: inline-block;
	margin: 0;
	text-align: center;
	transition: all 0.2s ease;
	vertical-align: top;
	width: 8%;
}
nav ul li a{
	color: #FFF;
	display: block;
	margin: 10% 4%;
	text-decoration: none;
	transition: all 0.2s ease;
	width: 92%;
}
nav ul li:hover, nav ul li:hover a{
	background: #FE8C00;
	transform: scale(1.05);
}
#login{
	background: #23597A;
	border: solid 3px #64A8D1;
	border-radius: 0.5em;
	font-size: 0.8em;
	padding: 0.5em;
	position: absolute;
	left: 78.5%;
	text-align: left;
	top: 0.5%;
	width: 16%;
}
#messages{
	background: #0969A2;
	height: 36em;
	padding: 1% 2%;
	text-align: center;
	width: 96%;
}
.TextBox{
	border-radius: 0.4em;
	box-shadow: rgba(0,0,0,0.5) 2px 2px 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	padding: 0.2em 0.5em;
}